.cursor{
    cursor: pointer;
}

.btnModal{
    font-size: 15px !important; 
    border-color: white !important;
    color: white !important;
    background-color: rgb(0, 174, 255) !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}