.cursor{
    cursor: pointer;
}

.btnModal{
    border-color: white !important;
    color: white !important;
    background-color: black(0, 174, 255) !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}