.caixa{
    background-color: black
}

.titulo{
    color: white !important;
    font-weight: bold;
}

.botao{
     border-color: white !important;
      background-color:red !important; 
      color: white !important; 
}

.postagens{
    background-color: black !important;
}