.imagem2{
    background-image: url(https://media4.giphy.com/media/M6i12SBUEv09a/200.gif);
    background-repeat: no-repeat;
    width: 80vh;
    min-height: 80vh;
    background-size: cover;
    background-position: center;
}

.textos2{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important;
    background-color: red !important;
}

.btnCadastrar {
    background-color: rgb(0, 174, 255) !important;
}