* {
  font-family: 'Star Jedi V1','Times New Roman', Times, serif !important
}

input{
  font-family: 'Arial' !important
}

body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
